body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container p {
    text-align: center;
}

h2 {
    margin-top: 0;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="tel"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

small {
    display: block;
    margin-top: 5px;
}

small a {
    color: #007bff;
    text-decoration: none;
}

.btn-continuar,
.btn-facebook,
.btn-google,
.btn-apple,
.btn-email {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: #050000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-size: 30px; /* Tamaño de la imagen */
    background-position: 5px center; /* Posición de la imagen */
    padding-left: 26px; /* Espacio a la izquierda de la imagen */
}

.btn-continuar:hover,
.btn-facebook:hover,
.btn-google:hover,
.btn-apple:hover,
.btn-email:hover {
    background-color: #0056b3;
}

.btn-facebook {
    background-color: #f9fafc;
    background-image: url('../img/logofacebook.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 40px;
}

.btn-google {
    background-color: #f9fafc;
    background-image: url('../img/google_logo.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 40px;
}

.btn-apple {
    background-color: #f9fafc;
    background-image: url('../img/apple_logo.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 40px;
}

.btn-email {
    background-color: #f9fafc;
    background-image: url('../img/email_logo.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 40px;
}
