/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background-color: #3b5998; /* Color de fondo */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px; /* Altura del header */
    margin-bottom: 20px; /* Margen inferior */
    border-bottom: 3px solid #000; /* Línea inferior de color negro */
}

nav {
    margin-top: -100px;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 25px;
    padding: 65px;
    
}

.logo {
    width: 200px;
    height: auto;
    padding: 30px;
    margin-top: 130px;
    margin-left: 0px;
}

main {
    text-align: center;
}

main h2 {
    font-family: "ADLaM Display", sans-serif;
    color: #000707;
    font-size: 50px;
}

main h2.ganar-titulo {
    font-family: "ADLaM Display", sans-serif;
    color: #0097A7;
}

main p {
    margin: 10px 0;
    font-size: 30px;
}

main h1 {
    color: #3b5998; /* Color del texto */
    font-size: 20px; /* Tamaño de la fuente */
    text-decoration: none; /* Elimina el subrayado */
    font-style: italic; /* Pone el texto en cursiva */
}

.registro-box {
    display: inline-block;
    background-color: #007bff;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-left: -5px;
    margin-right: 20px;
    margin-top: 10%;
}

.registro-link {
    color: #fff;
    text-decoration: none;
}

.registro-link:hover {
    text-decoration: none;
}

/* Media queries para dispositivos móviles */
@media screen and (max-width: 768px) {
    .logo {
        margin-left: 0;
    }
}

/* Estilos para las nuevas secciones */
section {
    margin-top: 40px;
}

section h2 {
    font-weight: bold;
}

section a {
    font-weight: bold;
    font-size: 18px;
}

/* Estilos para el contenedor de las columnas */
.container {
    max-width: 1500px;
    margin: 0 auto;
}

.guarderista-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}

.guarderista-section p {
    font-weight: bold;
    text-align: left;
}

/* Estilos para los títulos */
.guarderista-section h3 {
    
    text-align: left;
    color: #494747;
}



/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-----------------FOOTER--------------------*/

.footer {
    background-color: #3b5998; /* Color azul más oscuro */
    padding: 20px; /* Ajusta el espaciado interno según sea necesario */
    text-align: center; /* Centra el contenido horizontalmente */
    color: white; /* Color de texto blanco */
    left: 0;
    bottom: 0;
    width: auto; /* Ocupa todo el ancho */
}

.social-icons {
    display: inline-block; /* Alinea los elementos en línea */
    margin-right: 20px; /* Espacio a la derecha */
}

.social-icons img {
    width: 40px; /* Ajusta el tamaño de las imágenes según sea necesario */
    height: auto; /* Mantiene la proporción de la imagen */
}

.footer-links {
    display: flex;
    flex-direction: column; /* Coloca los enlaces en columna */
}

.footer-links a {
    display: block; /* Coloca los enlaces en bloque */
    text-decoration: none; /* Elimina el subrayado */
    color: white; /* Color de texto blanco */
    font-family: Arial, sans-serif; /* Fuente Arial */
    margin-bottom: 10px; /* Espacio entre los enlaces */
}
