/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

nav {
    margin-top: -100px;
    margin-right: 20px;
   
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px; /* Tamaño de fuente base */
    padding: 10px;
}

.logo {
    width: 80px;
    height: auto;
    padding: 150px;
    margin-top: -100px;
    margin-left: 90px; /* Ajustamos el margen izquierdo */
}

main {
    text-align: center;
}

main h2 {
    color: #000707;
    font-size: 50px;
}

main h2.ganar-titulo {
    color: #0097A7;  
  
    
}

main p {
    margin: 10px 0;
    font-size: 30px;
}

main h1 {
    color: #818185;
    font-size: 20px;
}

.registro-box {
    display: inline-block;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 10px; /* Ajusta el margen izquierdo */
    margin-right: 150px; /* Ajusta el margen derecho */
}

.registro-link {
    color: #fff;
    text-decoration: none;
}

.registro-link:hover {
    text-decoration: none;
}

/* Media queries para dispositivos móviles */
@media screen and (max-width: 768px) {
    /* Ajustes para dispositivos móviles */
    .logo {
        margin-left: 0; /* Reiniciamos el margen izquierdo */
    }
}
/* Estilos para las nuevas secciones */
section {
    margin-top: 40px; /* Ajusta el margen superior entre secciones */
}

section h2 {
    font-weight: bold; /* Hace que los títulos sean negrita */
}

section a {
    font-weight: bold; /* Ajusta el peso de la fuente para los enlaces */
    font-size: 18px; /* Ajusta el tamaño de la fuente para los enlaces */
}
/* Estilos para el contenedor de las columnas */
.container {
    max-width: 1500px; /* Ajusta este valor según tus preferencias */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}

/* Agrega este estilo para separar más las columnas */
.guarderista-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px; /* Ajusta este valor según tus preferencias */
    width: 100%; /* Ancho de las columnas */
    margin: 0 auto; /* Centra las columnas horizontalmente */
}
/* Estilos para los títulos */
.guarderista-section h3 {
    text-align: left;
   color: #474749;
}

