/* Estilos para la página de reservas de guarderías */

/* Estilos para el contenedor principal de las guarderías */
.contenedor-guarderias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1500px; /* Limitar el ancho del contenedor principal */
    margin: 0 auto; /* Centrar el contenedor */
    gap: 20px; /* Añadir un poco de espacio entre los elementos */
}

/* Estilo para el título de la página */
h2 {
    text-align: center; /* Centrar el texto */
    color: #007bff; /* Color azul */
    margin-bottom: 50px; /* Espacio inferior */
}

/* Estilos para cada guardería */
.guarderia {
    border: none; /* Eliminar el borde */
    border-radius: 10px; /* Mantener los bordes redondeados */
    margin-bottom: 20px;
    padding: 20px;
    flex: 1 1 calc(25% - 20px); /* Permitir que el ancho sea 25% menos el espacio del gap */
    text-align: center; /* Centrar contenido */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Mantener la sombra */
    position: relative; /* Mantener la posición relativa */
    max-width: 300px; /* Ancho máximo para mantener la proporción */
}

/* Estilos para la imagen representativa de la guardería */
.imagen-representativa,
.imagenes-adicionales img {
    width: 100%;
    height: 200px; /* Ajustar la altura para mantener uniformidad */
    object-fit: cover; /* Asegurar que la imagen cubra todo el contenedor */
    cursor: pointer;
    margin-bottom: 10px;
}

/* Estilos para las imágenes adicionales */
.imagenes-adicionales {
    display: none;
    margin-top: 10px;
}

/* Estilos para el botón "Más Imágenes" */
.btn-mas-imagenes {
    margin-top: 10px;
    cursor: pointer;
    background-color: #007bff; /* Fondo azul */
    color: #fff; /* Texto blanco */
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Transición suave */
}

.btn-mas-imagenes:hover {
    background-color: #0056b3; /* Cambio de color al pasar el mouse */
}

/* Estilos para el logo de Doginn */
.logo-doginn {
    display: block;
    margin: 0 auto 20px; /* Centrar y agregar espacio abajo */
    width: 100px; /* Tamaño del logo */
}

.btn-cerrar-sesion {
    position: absolute;
    top: 20px;
    right: 300px; /* Cambia 'right' a 'left' y ajusta la distancia desde el borde izquierdo */
    padding: 10px 20px;
    background-color: #4c6fb1;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para el modal */
.modal {
    display: none; /* Ocultar el modal por defecto */
    position: fixed; /* Posición fija */
    z-index: 1; /* Establecer la capa más arriba */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9); /* Fondo oscuro */
}

/* Estilos para la imagen dentro del modal */
.modal-content {
    margin: auto;
    display: block;
    width: 80%; /* Ancho de la imagen dentro del modal */
    max-width: 700px; /* Ancho máximo */
    max-height: 80%; /* Altura máxima */
}

/* Estilos para el botón de cierre del modal */
.close {
    color: #fff; /* Color del texto */
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.btn-hacer-reserva {
    margin-top: 10px;
    margin: 10px auto; /* Centrar horizontalmente */
    cursor: pointer;
    background-color: #a665ba; /* Fondo azul */
    color: #fff; /* Texto blanco */
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Transición suave */
    display: block;
    text-align: center;
    text-decoration: none; /* Quitar subrayado del enlace */
    font-size: 11px; /* Tamaño de la fuente */
    width: 90px; /* Ajustar el ancho del botón */
}

.btn-hacer-reserva:hover {
    background-color: #0056b3; /* Cambio de color al pasar el mouse */
}

/* Media Queries para adaptabilidad */
@media (max-width: 1200px) {
    .guarderia {
        flex: 1 1 calc(33.333% - 20px); /* 3 guarderías por fila */
    }
}

@media (max-width: 992px) {
    .guarderia {
        flex: 1 1 calc(50% - 20px); /* 2 guarderías por fila */
    }
}

@media (max-width: 768px) {
    .guarderia {
        flex: 1 1 100%; /* 1 guardería por fila */
    }
}
