/* Estilos para la página de reservas de guarderías */

/* Estilos para el contenedor principal de las guarderías */
.contenedor-guarderias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1500px;
    margin: 0 auto;
    gap: 20px;
}

/* Estilo para el título de la página */
h2 {
    text-align: center;
    color: #007bff;
    margin-bottom: 50px;
}

/* Estilos para cada guardería */
.guarderia {
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    flex: 1 1 calc(25% - 20px);
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    max-width: 300px;
}

/* Estilos para la imagen representativa de la guardería */
.imagen-representativa,
.imagenes-adicionales img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    margin-bottom: 10px;
}

/* Estilos para las imágenes adicionales */
.imagenes-adicionales {
    display: none;
    margin-top: 10px;
    position: relative;
}

/* Estilos para el botón "Más Imágenes" */
.btn-mas-imagenes {
    margin-top: 10px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-mas-imagenes:hover {
    background-color: #0056b3;
}

/* Estilos para el logo de Doginn */
.logo-doginn {
    display: block;
    margin: 0 auto 20px;
    width: 100px;
}

.btn-cerrar-sesion {
    position: absolute;
    top: 20px;
    right: 300px;
    padding: 10px 20px;
    background-color: #4c6fb1;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}


.modal {
    display: none; /* Ocultar el modal por defecto */
    position: fixed; /* Posición fija */
    z-index: 1000; /* Establecer un índice Z alto para estar por encima de la barra de navegación */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9); /* Fondo oscuro */
}

.modal .close {
    position: absolute;
    top: 20px;
    right: 25px;
    color: red; /* Color rojo para la "X" */
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5); /* Fondo semi-transparente para mayor visibilidad */
    border-radius: 50%;
    padding: 5px 10px;
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%; /* Ancho de la imagen dentro del modal */
    max-width: 700px; /* Ancho máximo */
    max-height: 80%; /* Altura máxima */
}

.modal .close:hover,
.modal .close:focus {
    color: darkred; /* Cambia a un color más oscuro al pasar el mouse */
    text-decoration: none;
    cursor: pointer;
}


.btn-hacer-reserva {
    margin-top: 10px;
    margin: 10px auto;
    cursor: pointer;
    background-color: #a665ba;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 11px;
    width: 90px;
}

.btn-hacer-reserva:hover {
    background-color: #0056b3;
}

/* Media Queries para adaptabilidad */
@media (max-width: 1200px) {
    .guarderia {
        flex: 1 1 calc(33.333% - 20px);
    }
}

@media (max-width: 992px) {
    .guarderia {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .guarderia {
        flex: 1 1 100%;
    }
}

.icon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    vertical-align: middle;
}
