/* Estilos para el contenedor principal */
.container {
    position: relative;
    width: 400px;
    margin: 150px auto 0;
    padding: 40px;
    border-radius: 10px;
    background-color: #f8f8f8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* Estilos para el logo */
.logo {
    position: absolute;
    top: -50px; /* Ajusta la posición vertical del logo */
    left: 50%; /* Centra el logo horizontalmente */
    transform: translateX(-50%); /* Ajusta la posición horizontal del logo */
    width: 100px; /* Ajusta el ancho del logo según tus necesidades */
    height: auto;
}

/* Estilos para el título */
.container h2 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilos para los campos del formulario */
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    box-sizing: border-box;
    font-size: 16px;
}

/* Estilos para el botón de inicio de sesión */
.btn-login {
    display: block;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #6495ED;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-login:hover {
    background-color: #487de0;
}

/* Estilos para el mensaje de error */
.error-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}
.btn-cerrar-sesion {
    position: absolute;
    top: 20px;
    right: 300px; /* Cambia 'right' a 'left' y ajusta la distancia desde el borde izquierdo */
    padding: 10px 20px;
    background-color: #4c6fb1;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}