/* Estilos del título */
.titulo {
    text-align: center; 
    margin: 0 auto; 
    text-decoration: none;
}


header {
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    padding: 10px; 
    text-decoration: none;
}

.menu-btn {
    margin-left: 10px; 
    text-decoration: none;
}

.menu-desplegable {
    display: none; 
    text-decoration: none;
}

.menu-desplegable.activo {
    display: block; 
    text-decoration: none;
    
}
/* Estilos para los enlaces dentro del menú desplegable */
.menu-desplegable a {
    text-decoration: none; /* Elimina el subrayado de todos los enlaces dentro del menú desplegable */
}

/* Estilos para los enlaces "Iniciar Sesión" y "Registrarse" dentro del menú desplegable */
.menu-desplegable a[href="login.php"],
.menu-desplegable a[href="registro.php"] {
    text-decoration: none; /* Elimina el subrayado específicamente para los enlaces "Iniciar Sesión" y "Registrarse" */
}


