/* Estilos para el header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu-buttons {
    display: flex;
    gap: 10px; /* Espacio entre los botones */
}

.menu-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.menu-desplegable {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
}

.menu-desplegable.active {
    display: block;
}

/* Media query para hacer el menú responsive */
@media screen and (max-width: 768px) {
    .titulo {
        font-size: 4rem; /* Tamaño de fuente más pequeño para dispositivos pequeños */
    }

    .menu-buttons {
        display: none; /* Oculta los botones del menú principal en dispositivos pequeños */
    }

    .menu-desplegable {
        position: static; /* Cambia la posición a estática para que aparezca debajo del título */
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%; /* Ocupa todo el ancho disponible */
    }

    .menu-desplegable nav {
        text-align: center; /* Centra los elementos del menú desplegable */
    }

    .menu-desplegable ul {
        list-style-type: none; /* Elimina los estilos de lista */
    }

    .menu-desplegable li {
        margin-bottom: 10px; /* Espacio entre elementos del menú */
    }
}

