* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.container {
    width: 100%;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container h2 {
    color: #333;
}

.container p {
    margin-bottom: 20px;
}

h3 {
    margin-top: 15px;
}

ul {
    text-align: left;
    margin-bottom: 20px;
}

ul li {
    margin-bottom: 10px;
}

.btn-continuar, .btn-rechazar {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

.btn-continuar {
    background-color: #4CAF50;
    color: white;
    margin-right: 10px;
}

.btn-rechazar {
    background-color: #f44336;
    color: white;
}

.btn-continuar:hover {
    background-color: #45a049;
}

.btn-rechazar:hover {
    background-color: #e53935;
}
