body, html {
    margin: 0;
    padding: 0;
    height: fit-content;

}


header {
    position: relative;
    height: 100vh; /* Ajusta la altura según tus necesidades */
    width: 100%;
    overflow: hidden;
}

.video-header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 55%;
    object-fit: cover;
    border-bottom: 3px solid #5986d9; /* Agrega una línea de borde azul debajo del video */
}


/* Estilos de la imagen del logo */
.logo {
    position: absolute;
    top: 15%; /* Centramos verticalmente */
    left: 50%; /* Centramos horizontalmente */
    transform: translate(-50%, -50%); /* Centramos absolutamente */
    z-index: 1; /* Aseguramos que esté sobre el video */
    max-width: 500px; /* Ajusta el ancho máximo según sea necesario */
}


/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-----------------BOTONES INICIO SESION, REGISTRO, PON TU GUARDERIA--------------------*/

.loginbotones {
    font-family: "ADLaM Display", sans-serif;
    background-color: #6495ED;
    color: white;
    border: 2px solid ; /* Añadimos un borde transparente */
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out;
    margin-bottom: 10px; /* Añadimos margen entre los botones */
    display: block; /* Cambiamos la visualización a bloque */
    text-decoration: none; /* Eliminamos el subrayado de los enlaces */
}

.loginbotones:hover {
    border-color: white; /* Cambiamos el color del borde al pasar el ratón */
    background-color: #4c6fb1;
}

.botones-container {
    position: absolute;
    top: 4%; /* Ajusta según sea necesario */
    left: 85%; /* Ajusta para alinear a la derecha */
    z-index: 1; /* Para asegurar que estén sobre el video */
}


/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-----------------BOTONES HEADER--------------------*/


/* Estilos de los botones */
.button-header {
    font-family: "ADLaM Display"; /* Fuente de letra ADLaM Display */
    position: absolute;
    top: 35%;
    border: 3px solid white; /* Reborde blanco */
    border-radius: 30px; /* Esquinas redondeadas */
    color: white; /* Color de letra blanco */
    text-decoration: none;
    padding: 15px 20px;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s; /* Transición suave al cambiar el color de fondo y el color del texto */
}

.button-header.blue {
    left: 45%; /* Ajusta la posición del botón azul */
    transform: translateX(230%); /* Ajusta la posición horizontal del boton */
    background-color: #6495ED; /* Cambia el color del botón azul a una tonalidad más clara */
}

.button-header.transparent {
    left: 55%; /* Ajusta la posición del botón transparente */
    transform: translateX(-400%);  /* Ajusta la posición horizontal del boton */
    background-color: transparent;
}

.button-header.transparent:hover {
    background-color: white; /* Cambia el color de fondo al pasar el ratón */
    color: black; /* Cambia el color del texto al pasar el ratón */
}

.button-header.blue:hover {
    border: 3px solid #6495ED; /* Reborde blanco */
    background-color: #6495ED; /* Cambia el color de fondo al pasar el ratón */
    color: rgb(255, 255, 255); /* Cambia el color del texto al pasar el ratón */
}

/* Estilos del título azul */
.titulosazul {
    font-family: "ADLaM Display"; /* Fuente de letra ADLaM Display */
    color: #6495ED; /* Color azul */
    font-size: 56px; /* Tamaño grande */
    text-align: center; /* Centrado */
    margin: 10; /* Elimina cualquier margen */
    padding: 20px 0; /* Añade espaciado interno */
    position: absolute; /* Posiciona de forma absoluta */
    top: 55%; /* Coloca el título justo después del video */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Centra completamente */
}

.destinos-populares {
    font-family: "ADLaM Display"; /* Fuente de letra ADLaM Display */
    color: #6495ED; /* Color azul */
    font-size: 46px; /* Tamaño grande */
    position: absolute; /* Posiciona de forma absoluta */
    top: 120%; /* Coloca el título justo después del video */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Centra completamente */
}

.destinos-espana {
    font-family: "ADLaM Display"; /* Fuente de letra ADLaM Display */
    color: #6495ED; /* Color azul */
    font-size: 46px; /* Tamaño grande */
    position: absolute; /* Posiciona de forma absoluta */
    top: 65%; /* Coloca el título justo después del video */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Centra completamente */
}


/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-----------------BUSCADOR--------------------*/

/* Estilos del formulario de búsqueda */
.buscadorbody {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.buscadorhorizontal-form {
    position: absolute;
    top: 57%; /* Ajusta la posición vertical del formulario */
    left: 50%; /* Centra horizontalmente el formulario */
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px; /* Ajusta el ancho máximo del formulario */
    width: 90%; /* Ajusta el ancho del formulario */
    padding: 20px;
    background-color: #f8f8f8;
    border: 3px solid #6494ed5b; /* Reborde blanco */
    border-radius: 40px;
    box-shadow: 0px 0px 10px 0px rgba(0, 64, 255, 0.659);
}
.buscadorinput-container {
    flex: 1;
    margin-right: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    position: relative;
}


.buscadorlabel {
    font-family: "ADLaM Display"; /* Establece la fuente de la página */
    display: block;
    margin-bottom: 5px;
    color: #6495ED;
}

.buscadorinput-with-icon {
    position: relative;
    display: flex;
    align-items: center;
}

.buscadorinput[type="text"],
.buscadorinput[type="date"],
.buscadorinput[type="number"] {
    width: calc(100% - 50px); /* Ajusta el ancho del campo de entrada */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 40px; /* Ajusta el espacio a la izquierda para el icono */
}

.buscadorimg {
    position: absolute;
    left: 10px; /* Posiciona el icono a la izquierda */
    width: 30px; /* Ajusta el tamaño del icono */
    height: auto;
}

.buscadorbutton {
    flex: 1;
    padding: 20px; 
    border: none;
    border-radius: 20px;
    background-color: #488bff;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buscadorbutton:hover {
    background-color: #201ac9;
}

/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-----------------Destinos Populares--------------------*/

.populargaleria {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -170px; /* Ajusta el margen superior hacia arriba */
    margin-bottom: 20px; /* Ajusta el margen inferior según sea necesario */
}

.boton-galeria {
    display: inline-block;
    width: 280px;
    height: 280px;
    margin: 30px;
    background-size: cover;
    background-position: center;
    border-radius: 0px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s; 
}

.popularimg {
    display: inline-block;
    border-radius: 10px; /* Esquinas redondeadas */
    margin: 30px; /* Margen entre las imágenes */
    width: 280px; /* Tamaño pequeño */
    height: 280px;
    background-size: cover;
    background-position: center;
    height: auto; /* Mantenimiento de la proporción */
    overflow: hidden;
    position: relative;
    transition: transform 0.5s ease; /* Transición suave del zoom */
}

.popularimg:hover {
    transform: scale(1.1); /* Zoom al pasar el ratón */

}

.popularciudad {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-family: "ADLaM Display";
    color: white;
    font-size: 20px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}


/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-----------------Destinos Populares--------------------*/
.carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 7% auto; /* Mueve el carrusel hacia abajo */
    max-width: 1000px; /* Establece un ancho máximo */
}


.carousel {
    display: flex;
    transition: transform 0.5s ease;
    margin: 0 -10px; /* Margen negativo para compensar los márgenes de los slides */
}

.carouselslide {
    margin: 0 10px; /* Espacio entre las imágenes */
    border-radius: 10px; /* Bordes redondeados */
    flex: 0 0 auto; /* Evita que las imágenes se estiren */

}

.carouselslide img {
    width: 250px; /* Ancho de las imágenes */
    height: 200px;
    border-radius: 30px; /* Bordes redondeados */
    transition: transform 0.3s ease; /* Ajusta la velocidad y suavidad del zoom */

}

.carouselslide:hover img {
    transform: scale(1.05); /* Aplica un zoom del 5% al pasar el mouse sobre la imagen */
}


.prev {
    right: 95%;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    background-color: #6495ED; /* Color azul claro */
    border: none;
    border-radius: 20px; /* Bordes redondeados */
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra suave */
    color: white; /* Color de texto */
    
}

.next {
    left: 95%;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    background-color: #6495ED; /* Color azul claro */
    border: none;
    border-radius: 20px; /* Bordes redondeados */
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra suave */
    color: white; /* Color de texto */

}



.carouselprev {
    left: 0; /* Alinea a la izquierda */
}

.carouselnext {
    right: 0; /* Alinea a la derecha */
}



/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-----------------imagen y descripcion--------------------*/




.image-with-text {
    display: flex;
    align-items: center;
}

.image-with-text img {
    border-radius: 20px; /* Bordes redondeados s*/
    width: 500px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto;
    margin-right: 10px; /* Margen a la derecha */
    margin-left: 10%;
}


.text-container {
    padding: 100px;
    font-family: "ADLaM Display", sans-serif; /* Fuente ADLaM Display */
}

.titulo {
    color: #6495ED; /* Color azul */
    font-size: 54px; /* Tamaño del título */
    margin-bottom: 10px; /* Espacio inferior */
    margin-top: -100px; /* Espacio inferior */
    margin-right: 10px; /* Margen a la derecha */
    margin-left: -10%;
}

.texto {
    color: #000000; /* Color azul */
    font-size: 16px; /* Tamaño del texto */
    margin: 0; /* Elimina el margen predeterminado */
    margin-right: 10px; /* Margen a la derecha */
    margin-left: -10%;
}

/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-----------------imagen y descripcion--------------------*/


.image-with-text2 {
    display: flex;
    align-items: center;
}

.image-with-text2 img {
    border-radius: 20px; /* Bordes redondeados s*/
    width: 500px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto;
    margin-right: 10px; /* Margen a la derecha */
    margin-left: 10%;
}


.text-container2 {
    padding: 100px;
    font-family: "ADLaM Display", sans-serif; /* Fuente ADLaM Display */
}

.titulo2 {
    color: #6495ED; /* Color azul */
    font-size: 54px; /* Tamaño del título */
    margin-bottom: 10px; /* Espacio inferior */
    margin-top: -100px; /* Espacio inferior */
    margin-right: 10px; /* Margen a la derecha */
    margin-left: -200%;
}

.texto2 {
    color: #000000; /* Color azul */
    font-size: 16px; /* Tamaño del texto */
    margin: 0; /* Elimina el margen predeterminado */
    margin-right: -10px; /* Margen a la derecha */
    margin-left: 10%;
}


/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-----------------FOOTER--------------------*/

.footer {
    background-color: #3b5998; /* Color azul más oscuro */
    padding: 20px; /* Ajusta el espaciado interno según sea necesario */
    text-align: center; /* Centra el contenido horizontalmente */
    color: white; /* Color de texto blanco */
    left: 0;
    bottom: 0;
    width: auto; /* Ocupa todo el ancho */
}

.social-icons {
    display: inline-block; /* Alinea los elementos en línea */
    margin-right: 20px; /* Espacio a la derecha */
}

.social-icons img {
    width: 40px; /* Ajusta el tamaño de las imágenes según sea necesario */
    height: auto; /* Mantiene la proporción de la imagen */
}

.footer-links {
    display: flex;
    flex-direction: column; /* Coloca los enlaces en columna */
}

.footer-links a {
    display: block; /* Coloca los enlaces en bloque */
    text-decoration: none; /* Elimina el subrayado */
    color: white; /* Color de texto blanco */
    font-family: Arial, sans-serif; /* Fuente Arial */
    margin-bottom: 10px; /* Espacio entre los enlaces */
}



/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
/*-----------------FORMULARIO--------------------*/



.formulario-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #e8e8e8;
}

.formulario-form-container {
    flex: 2;
    padding: 20px;
}

.formulario-form {
    width: 100%;
}

.formulario-logo-container {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.formulario-logo {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 2px solid #6495ED;
}

.formulario-form-group {
    margin-bottom: 20px;
}

.formulario-form-group label {
    display: block;
    margin-bottom: 5px;
}

.formulario-form-group input,
.formulario-form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.formulario-button {
    background-color: #6495ED;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.formulario-button:hover {
    background-color: #4d71b5;
}