/* Estilos para el contenedor principal */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

/* Estilos para el logo */
.logo {
    max-width: 150px;
    height: auto;
    margin-bottom: 20px;
}

/* Estilos para el título */
h2 {
    margin-bottom: 20px;
}

/* Estilos para los campos del formulario */
.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    height: 100px; /* Altura del campo de texto */
}

/* Estilos para el botón de enviar */
.btn-submit {
    background-color: #4c6fb1;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #0056b3;
}

/* Estilos para el botón de cerrar sesión */
.btn-cerrar-sesion {
    position: fixed;
    top: 20px;
    right: 200px;
    padding: 10px 20px;
    background-color: #4c6fb1;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    z-index: 1000; /* Asegura que el botón esté encima de otros elementos */
}

.btn-cerrar-sesion:hover {
    background-color: #0056b3;
}

/* Estilos para el botón de volver */
.btn-volver {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #4c6fb1;
    color: #f5f6f7;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-volver:hover {
    background-color: #999;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
    .btn-cerrar-sesion {
        top: 10px;
        right: 10px;
        padding: 8px 16px;
        font-size: 14px;
    }
}
