body, html {
    margin: 0;
    padding: 0;
    height: fit-content;
}

.contenedor-principal {
    max-width: 100%; /* Ajusta el ancho máximo */
    margin: 0 auto;
    padding: 20px;
}

header {
    position: relative;
    height: 55vh; /* Reduce la altura según sea necesario */
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-header {
    position: absolute;
    top: 50%; /* Ajusta la posición vertical del video */
    left: 50%; /* Centra horizontalmente el video */
    width: 70%; /* Ajusta el ancho del video */
    height: auto; /* Mantiene la proporción del video */
    transform: translate(-50%, -60%); /* Ajusta la posición del video */
    border-bottom: 3px solid #5986d9;
    margin-top: 100px; /* Añade separación con el inicio de la página */
    z-index: 1; /* Asegura que el video esté detrás */
}

/* Estilos de la imagen del logo */
.logo {
    position: absolute;
    top: 30%; /* Ajusta para centrar verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%);
    z-index: 2;
    max-width: 50%; /* Ajusta el ancho máximo según sea necesario */
}

/* Botones del header */
/* Contenedor de botones centrado y alineado horizontalmente */
/* Contenedor de botones centrado y alineado horizontalmente */
.botones-container {
    position: absolute;
    top: 60%; /* Ajusta la posición vertical según sea necesario */
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 20px; /* Espacio entre los botones */
    z-index: 3; /* Asegura que los botones estén delante del video */
    justify-content: center;
}
/* Estilos de los enlaces con íconos */
.enlace-header {
    font-family: "ADLaM Display";
    color: #1d4ca2;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre el ícono y el texto */
    transition: color 0.3s;
}

.enlace-header img {
    width: 40px; /* Ajusta el tamaño del ícono */
    height: auto;
}

.enlace-header:hover {
    color: #6495ED; /* Cambia el color del texto al pasar el ratón */
}


.saludo-usuario {
    font-size: 20px !important; /* Tamaño de fuente */
    color: #557fd7 !important; /* Color del texto */
    position: absolute;
    top: -180px; /* Ajusta la posición vertical según sea necesario */
    right: -150px; /* Ajusta la posición horizontal según sea necesario */
    z-index: 3; /* Asegura que el saludo esté delante del video */
    font-family: "ADLaM Display";
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra del texto */
    border: 2px solid #557fd7; /* Borde del texto */
    padding: 10px; /* Espaciado interno */
    background-color: rgba(255, 255, 255, 0.7); /* Fondo semitransparente */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Sombra del cuadro */
    animation: pulsate 1.5s infinite; /* Animación de pulsación */
}

@keyframes pulsate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}






/* Estilos de los botones */
.button-header, .loginbotones {
    font-family: "ADLaM Display";
    border: 3px solid white;
    border-radius: 30px;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    z-index: 3; /* Asegura que los botones estén delante del video */
}

.button-header.blue, .loginbotones.logged-in {
    background-color: #6495ED;
}

.button-header.transparent, .loginbotones {
    background-color: transparent;
    border: 2px solid #6495ED;
    color: #6495ED;
}

.button-header.transparent:hover, .loginbotones:hover {
    background-color: white; /* Cambia el color de fondo al pasar el ratón */
    color: black; /* Cambia el color del texto al pasar el ratón */
}

.button-header.blue:hover, .loginbotones:hover {
    border: 3px solid #6495ED; /* Reborde blanco */
    background-color: #6495ED; /* Cambia el color de fondo al pasar el ratón */
    color: rgb(255, 255, 255); /* Cambia el color del texto al pasar el ratón */
}


/* Títulos */
.titulosazul {
    font-family: "ADLaM Display";
    color: #6495ED;
    font-size: 56px;
    text-align: center;
    margin: 10px 0;
    padding: 20px 0;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.destinos-populares, .destinos-espana {
    font-family: "ADLaM Display";
    color: #6495ED;
    font-size: 46px;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.destinos-espana {
    top: 65%;
}

/* Buscador */
.buscadorbody {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.buscadorhorizontal-form {
    position: absolute;
    top: 60%; /* Ajusta la posición vertical para mover el buscador más abajo */
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    width: 90%;
    padding: 20px;
    background-color: #f8f8f8;
    border: 3px solid #6494ed5b;
    border-radius: 40px;
    box-shadow: 0px 0px 10px 0px rgba(0, 64, 255, 0.659);
    z-index: 2; /* Asegura que el buscador esté por encima del video */
}

.buscadorinput-container {
    flex: 1;
    margin: 5px;
    position: relative;
}

.buscadorlabel {
    font-family: "ADLaM Display";
    display: block;
    margin-bottom: 5px;
    color: #6495ED;
}

.buscadorinput-with-icon {
    position: relative;
    display: flex;
    align-items: center;
}

.buscadorinput[type="text"],
.buscadorinput[type="date"],
.buscadorinput[type="number"] {
    width: calc(100% - 50px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 40px;
}

.buscadorimg {
    position: absolute;
    left: 10px;
    width: 30px;
    height: auto;
}

.buscadorbutton {
    flex: 1;
    padding: 15px 30px; /* Añade espacio interno alrededor del contenido del botón */
    border: none; /* Elimina el borde predeterminado */
    border-radius: 20px; /* Bordes redondeados */
    background-color: #6495ED; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    font-size: 20px; /* Tamaño de fuente del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Transición suave */
}

.buscadorbutton:hover {
    background-color: #4878d4; /* Cambia el color de fondo al pasar el ratón sobre el botón */
    border-color: #4878d4; /* Cambia el color del borde al pasar el ratón sobre el botón */
}



/* Destinos Populares */
.populargaleria {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.boton-galeria, .popularimg {
    width: 100%;
    max-width: 280px;
    height: 280px;
    margin: 30px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s;
}

.popularimg:hover {
    transform: scale(1.1);
}

.popularciudad {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-family: "ADLaM Display";
    color: white;
    font-size: 20px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* Carrusel */
.carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 7% auto;
    max-width: 1000px;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
    margin: 0 -10px;
}

.carouselslide {
    margin: 0 10px;
    border-radius: 10px;
    flex: 0 0 auto;
}

.carouselslide img {
    width: 100%;
    max-width: 250px;
    height: 200px;
    border-radius: 30px;
    transition: transform 0.3s ease;
}

.carouselslide:hover img {
    transform: scale(1.05);
}

.prev, .next {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    background-color: #6495ED;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: white;
}

.prev {
    left: 5%;
}

.next {
    right: 5%;
}

/* Imagen y descripción */
.image-with-text {
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan */
}

.image-with-text img {
    border-radius: 20px;
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 10px;
}

.text-container {
    padding: 20px;
    font-family: "ADLaM Display", sans-serif;
}

.titulo {
    color: #6495ED;
    font-size: 54px;
    margin: 10px 0;
}

.texto {
    color: #000000;
    font-size: 16px;
    margin: 0 10px;
}

/* Sección informativa */
.info-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f9ff;
    box-shadow: 0 5px 20px rgba(0, 106, 255, 0.463);
    margin-top: 100px;
}

.info-section-titulo {
    color: #333;
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
}

.info-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Ajusta el número de columnas automáticamente */
    gap: 40px;
}

.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.info-item-image {
    border-radius: 20px;
    width: 150px;
    height: auto;
    margin-right: 20px;
}

.info-item-text {
    max-width: 400px;
    font-family: "ADLaM Display", sans-serif;
    text-align: left;
}

.info-item-titulo {
    color: #6495ED;
    font-size: 24px;
    margin-bottom: 10px;
}

.info-item-descripcion {
    color: #000000;
    font-size: 16px;
    margin: 0;
}

/* Footer */
.footer {
    background-color: #3b5998;
    padding: 20px;
    text-align: center;
    color: white;
    width: 100%;
}

.social-icons {
    display: inline-block;
    margin-right: 20px;
}

.social-icons img {
    width: 40px;
    height: auto;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.footer-links a {
    display: block;
    text-decoration: none;
    color: white;
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
}

/* Formulario */
.formulario-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #e8e8e8;
}

.formulario-form-container {
    flex: 2;
    padding: 20px;
}

.formulario-form {
    width: 100%;
}

.formulario-logo-container {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.formulario-logo {
    width: 100%;
    max-width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 2px solid #6495ED;
}

.formulario-form-group {
    margin-bottom: 20px;
}

.formulario-form-group label {
    display: block;
    margin-bottom: 5px;
}

.formulario-form-group input,
.formulario-form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.formulario-button {
    background-color: #6495ED;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.formulario-button:hover {
    background-color: #4d71b5;
}

/* Ajustes en el contenedor de guarderías */
.inicio-contenedor-guarderias {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 guarderías por fila */
    gap: 20px; /* Espacio entre los elementos */
    justify-content: center; /* Centra los elementos horizontalmente */
    margin: 150px auto; /* Ajusta el margen superior e inferior para posicionar correctamente */
    padding: 20px; /* Espaciado interno */
    width: 70%; /* No ocupa toda la página */
}

.guarderia-contenedor {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinea los elementos a la izquierda */
    text-align: left; /* Alinea el texto a la izquierda */
    width: 100%; /* Ajusta el ancho del contenedor */
}

.inicio-guarderia {
    width: 100%;
}

.inicio-imagen-guarderia {
    width: 100%;
    height: 200px; /* Ajusta la altura de las imágenes */
    object-fit: cover; /* Asegura que la imagen cubra todo el área sin deformarse */
    border-radius: 10px; /* Bordes redondeados */
}

.info-guarderia {
    text-align: left; /* Alinea el texto a la izquierda */
    margin-top: 10px; /* Espacio superior para separar de la imagen */
    width: 100%;
}

.inicio-nombre-guarderia, .inicio-direccion, .inicio-precio, .inicio-puntuacion {
    font-family: Arial, sans-serif;
    color: black;
    font-size: 14px; /* Ajusta el tamaño de la fuente */
    margin: 5px 0;
}

.estrella {
    color: gold;
    font-size: 16px;
    
}

/* Media queries para dispositivos móviles */
@media (max-width: 1200px) {
    .inicio-contenedor-guarderias {
        grid-template-columns: repeat(3, 1fr); /* 3 guarderías por fila en pantallas medianas */
    }
}

@media (max-width: 768px) {
    .inicio-contenedor-guarderias {
        grid-template-columns: repeat(2, 1fr); /* 2 guarderías por fila en pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    .inicio-contenedor-guarderias {
        grid-template-columns: 1fr; /* 1 guardería por fila en pantallas muy pequeñas */
    }

    .button-header.blue, .button-header.transparent {
        left: 50%;
        transform: translateX(-50%);
    }

    .titulosazul {
        font-size: 36px;
    }

    .destinos-populares, .destinos-espana {
        font-size: 36px;
        top: 70%;
    }

    .buscadorhorizontal-form {
        flex-direction: column;
        top: 70%;
    }

    .buscadorinput-container, .buscadorbutton {
        width: 100%;
        margin: 5px 0;
    }

    .prev, .next {
        top: 50%;
    }

    .carousel-container {
        max-width: 100%;
    }

    .info-grid {
        grid-template-columns: 1fr;
    }

    .formulario-logo {
        max-width: 250px;
    }

    .inicio-contenedor-guarderias {
        grid-template-columns: 1fr;
    }
}
